bottle==0.12.18
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
colorlog==4.2.1
ecdsa==0.16.0
esphome==1.15.2
esptool==2.8
idna==2.10
ifaddr==0.1.7
marshmallow==3.7.1
paho-mqtt==1.5.0
platformio==4.3.4
protobuf==3.12.2
pyaes==1.6.1
pyelftools==0.26
pyserial==3.4
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
semantic-version==2.8.5
six==1.15.0
tabulate==0.8.7
tornado==6.0.4
tzlocal==2.1
urllib3==1.25.10
voluptuous==0.11.7
